/** Style CSS **/

body {
    color: #F4F4F4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #ffffff;
}

/** Up Bar **/
.upbar {
    background: #728FCE;
    height: 150px;
    width: auto;
}

.upbar .b-logo {
    text-align: left;
    overflow: hidden;
}

.upbar .b-logo a img {
    max-width: 100%;
    max-height: 60px;
}

.upbar .b-search {
    text-align: right;
    width: 100%;
}

.upbar .b-search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #000000;
    border: 2px solid #662d91;
    border-radius: 4px;
}

.upbar .b-search input[type=text]:focus {
    border-color: #FF5733;
}

.upbar .b-search button {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 0;
    border: none;
    background: none;
    color: #662d91;
    border-radius: 0 4px 4px 0;
}

.upbar .b-search button:hover {
    background: #662d91;
    color: #ffffff;
}

@media (min-width: 850px) {
    .upbar {
        max-height: 100px;
    }
}

@media (max-width: 750px) {
    .upbar .b-logo,
    .upbar .b-search {
        margin-bottom: 15px;
        text-align: center;
    }
    
    .upbar .b-search {
        margin-bottom: 0;
    }
}

.up-btn {
    background: #662d91;
    width: 35px;
    height: 35px;
    position: fixed;
    display: none;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    border-radius: 4px;
    z-index: 11;
}

.up-btn:hover {
    background: #000000;
}

.up-btn i {
    padding-top: 9px;
    color: #ffffff;
}

/** Navbar **/
.nav-bar {
    position: relative;
}


/* Footer */
.footer{
    background-color: #30333E;
    font-family: 'Quicksand', sans-serif;
}

.mainbaca{
    padding-left: 20px;
    text-align: justify;
}

.pengertian1{
    text-align: justify;
    padding-right: 70px;
}

#logofooter{
    width: 250px;
    height: 100px;
}

.footer .berlangganan {
    position: relative;
    width: 100%;
}

.footer .berlangganan form {
    position: relative;
    width: 550px;
}

.footer .berlangganan input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.footer .berlangganan .btn {
    position: absolute;
    width: 80px;
    height: 35px;
    top: 0;
    right: 0;
    padding: 0 15px;
    border: none;
    background: #111111;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #ffffff;
    border-radius: 0 4px 4px 0;
}

.footer .berlangganan .btn:hover {
    background: #FF6F61;
}

.footer .berlangganan input:focus,
.footer .berlangganan .btn:focus {
    box-shadow: none;
}

#logomitra{
    width: 150px;
    height: 150px;
    padding-top: 0%;
}

.footer2{
    text-align: center;
    background-color: #000000;
    height: auto;
    width: auto;
}

