/** Style CSS **/

body {
    color: #F4F4F4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #ffffff;
}

.upbar {
    background: #ffffff;
    margin: 15px 0;
    
}

.upbar .b-logo {
    text-align: left;
    overflow: hidden;
}

.upbar .b-logo a img {
    max-width: 100%;
    max-height: 60px;
}

.upbar .b-search {
    width: 100%;
}

.upbar .b-search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #71FC48;
    border: 1px solid #003CFF;
    border-radius: 4px;
}

.upbar .b-search input[type=text]:focus {
    border-color: #662d91;
}

.upbar .b-search button {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 0;
    border: none;
    background: none;
    color: #662d91;
    border-radius: 0 4px 4px 0;
}

.upbar .b-search button:hover {
    background: #662d91;
    color: #ffffff;
}

@media (min-width: 750px) {
    .upbar {
        max-height: 90px;
    }
}

@media (max-width: 750px) {
    .upbar .b-logo,
    .upbar .b-search {
        margin-bottom: 15px;
        text-align: center;
    }
    
    .upbar .b-search {
        margin-bottom: 0;
    }
}

.up-btn {
    background: #662d91;
    width: 35px;
    height: 35px;
    position: fixed;
    display: none;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    border-radius: 4px;
    z-index: 11;
}

.up-btn:hover {
    background: #000000;
}

.up-btn i {
    padding-top: 9px;
    color: #ffffff;
}
