/** Style CSS **/

body {
    color: #F4F4F4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #ffffff;
}

/** Up Bar **/
.upbar {
    background: #728FCE;
    height: 150px;
    width: auto;
}

.upbar .b-logo {
    text-align: left;
    overflow: hidden;
}

.upbar .b-logo a img {
    max-width: 100%;
    max-height: 60px;
}

.upbar .b-search {
    text-align: right;
    width: 100%;
}

.upbar .b-search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #000000;
    border: 2px solid #662d91;
    border-radius: 4px;
}

.upbar .b-search input[type=text]:focus {
    border-color: #FF5733;
}

.upbar .b-search button {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 0;
    border: none;
    background: none;
    color: #662d91;
    border-radius: 0 4px 4px 0;
}

.upbar .b-search button:hover {
    background: #662d91;
    color: #ffffff;
}

@media (min-width: 850px) {
    .upbar {
        max-height: 100px;
    }
}

@media (max-width: 750px) {
    .upbar .b-logo,
    .upbar .b-search {
        margin-bottom: 15px;
        text-align: center;
    }
    
    .upbar .b-search {
        margin-bottom: 0;
    }
}

.up-btn {
    background: #662d91;
    font-size: 16px;
    text-align: center;
    width: 35px;
    height: 35px;
    position: fixed;
    display: none;
    color: #ffffff;
    line-height: 1;
    right: 15px;
    bottom: 15px;
    border-radius: 4px;
    z-index: 11;
    transition: background 0.5s;
}

.up-btn:hover {
    background: #000000;
}

.up-btn i {
    padding-top: 9px;
    color: #ffffff;
}



/** Navbar **/
.nav-bar {
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    z-index: 999;
}

.nav-bar .navbar {
    height: 100%;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    border-bottom: 2px solid #662d91;
    transition: none;
}

.nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #662d91;
    text-shadow: #F4F4F4;
}

@media (min-width: 768px) {
    .nav-bar,
    .nav-bar .navbar {
        background: #728FCE !important;
    }
    
    .nav-bar .navbar-brand {
        display: none;
    }
    
    .nav-bar a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {   
    .nav-bar,
    .nav-bar .navbar {
        padding: 3px 0;
        background: #728FCE !important;
    }
    
    .nav-bar a.nav-link {
        padding: 5px;
    }
    
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
}



/** Running Text **/
.runningtext {
    background-color: #597DCD;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/** Berita **/
.berita {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.berita .col-md-4 {
    margin-bottom: 30px;
}

.berita .mn-img {
    position: relative;
    overflow: hidden;
}

.berita .mn-img img {
    height: 350;
    width: 225px;
}

.berita .mn-img:hover img {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.berita .mn-title {
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    padding: 15px 10px 15px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
    display: flex;
    align-items: flex-end;
}

.berita .mn-title a {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    transition: .3s;
}

.berita .mn-title a:hover {
    color: #FF6F61;
}

.berita .mn-list {
    margin-bottom: 30px;
}

.berita .mn-list h2 {
    color: #000000;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 3px double #000000;
}

.berita .mn-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.berita .mn-list ul li {
    margin: 0 0 12px 22px; 
}

.berita .mn-list ul li:last-child {
    margin-bottom: 0; 
}

.berita .mn-list ul li a {
    color: #000000;
    display: block;
    line-height: 23px;
}

.berita .mn-list ul li::before {
    position: absolute;
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #000000;
    left: 1px;
}

.berita .mn-list ul li a:hover {
    color: #FF6F61;
}


/* Footer */
.footer{
    background-color: #30333E;
    font-family: 'Quicksand', sans-serif;
}

.mainbaca{
    padding-left: 20px;
    text-align: justify;
}

.pengertian1{
    text-align: justify;
    padding-right: 70px;
}

#logofooter{
    width: 250px;
    height: 100px;
}

.footer .berlangganan {
    position: relative;
    width: 100%;
}

.footer .berlangganan form {
    position: relative;
    width: 550px;
}

.footer .berlangganan input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.footer .berlangganan .btn {
    position: absolute;
    width: 80px;
    height: 35px;
    top: 0;
    right: 0;
    padding: 0 15px;
    border: none;
    background: #111111;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #ffffff;
    border-radius: 0 4px 4px 0;
}

.footer .berlangganan .btn:hover {
    background: #FF6F61;
}

.footer .berlangganan input:focus,
.footer .berlangganan .btn:focus {
    box-shadow: none;
}

#logomitra{
    width: 150px;
    height: 150px;
    padding-top: 0;
}

.footer2{
    text-align: center;
    background-color: #000000;
    height: auto;
    width: auto;
}

